<!DOCTYPE html>
<html lang="en" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <section class="banner d-flex  justify-content-center align-items-center">
        <div class="text-center">
            <h1>Smart Contact Manager</h1>
            <p>Start Collecting your contacts in very smarter way. We provide a Solution where you can save all your contacts
            here.</p>
            <button type="submit" class="btn btn-primary btn-lg text-white">Get Started</button>

        </div>

    </section>
</body>
</html>