<!DOCTYPE html>
<html lang="en" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="my-card mt-3    ">
                    <div class="alert alert-primary" role="alert" th:if="${session.message}" th:classappend="${session.message.type}" >
                        <p class="text-center" th:text="${session.message.content}"></p>
                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    </div>

                    <h1 class="text-center">Register Here</h1>

                    <form th:action="@{/register}" method="post" th:object="${user}">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control"
                                   id="name"
                                   name="name"
                                   aria-describedby="name"
                                   th:value="${user.name}"
                                   th:classappend="${#fields.hasErrors('name')} ?'is-invalid':'' "
                                   th:text
                                   placeholder="Enter Here" >
                            <div th:each="e : ${#fields.errors('name')}" th:text="${e}" id="validationFeedBack" class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="text" class="form-control"
                                   id="email"
                                   name="email"
                                   aria-describedby="email"
                                   th:value="${user.email}"
                                   th:classappend="${#fields.hasErrors('email')} ?'is-invalid':'' "
                                   placeholder="Enter email" >
                            <div th:each="e : ${#fields.errors('email')}" th:text="${e}" id="validationFeedBack1" class="invalid-feedback"></div>

                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password"
                                   class="form-control" id="password"
                                   th:value="${user.password}"

                                   name="password" placeholder="Password" >
                        </div>
                        <div class="form-group">
                            <label for="about">About</label>
                            <textarea name="about" id="about" th:text="${user.about}" class="form-control" cols="30" rows="5">
                            </textarea>
                        </div>
                        <div class="form-check text-center">
                            <input type="checkbox" name="agreement" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Terms and Conditions</label>
                        </div>
                        <br/>
                        <div class="text-center">

                            <button type="submit"  class="btn btn-primary text-center">Submit</button>
                            <button type="reset"  class="btn btn-warning text-center">Reset</button>

                        </div>


                    </form>
                </div>


            </div>
        </div>
    </div>
</section>

</body>
</html>