<!DOCTYPE html>
<html lang="en" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <h1>Profile Details</h1>
    <div class="card mr-3 ml-3">
        <div class="card-body" th:if="${user}">
            <div class="container text-center">
                <img class="my_profile_pic" style="width:200px; height:200px;" th:src="@{'/imgs/'+${user.imgUrl}}" alt="picture"/>
                <h1 class="mt-3" > <span th:text="${user.name}"></span> </h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col" th:text="${user.id}"></th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Email</th>
                        <td><span th:text="${user.email}"></span> </td>
                    </tr>

                    <tr>
                        <th scope="row">Role</th>
                        <td><span th:text="${user.role}"></span> </td>
                    </tr>
                    </tbody>

                </table>
                <hr/>
                <div class="description">
                    <p  th:utext="${user.about}"></p>
                </div>
                <a style="text-decoration:none; color: white" th:href="@{/user/profile/update}" class="btn btn-primary btn-sm btn-block mt-5">Update</a>
            </div>
        </div>
        <div  th:unless="${user}" class="container text-center bg-danger ">
            <h2 class="mt-4">Sorry You Have No Permission To access this Link</h2>

        </div>
    </div>
</section>
</body>
</html>