<!DOCTYPE html>
<html lang="en" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>

        <div class="container">
            <div class="card mr-3">
                <div class="card-body">
                    <h1 class="text-center">Your Contacts</h1>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="c, i :${contact} ">

                            <th scope="row" th:text="${ i.count }"></th>
                            <td >
                                <img class="my_profile_pic"  th:src="@{'/imgs/'+${c.image}}" alt="profile"/>
                                <span th:text="${c.name}" > </span>
                            </td>
                            <td th:text="${c.email}"></td>
                            <td th:text="${c.phone}"></td>
                            <td>
                                <button class="btn btn-primary btn-sm">Update</button>
                                <button class="btn btn-danger btn-sm">Delete</button>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <li th:if="${currentPage  != 0}" class="page-item ">
                                <a th:href="@{'/user/contacts/'+${currentPage-1}}" class="page-link"  tabindex="-1">Previous</a>
                            </li>
                            <li th:classappend="${currentPage.equals((i-1))?'active':''}"
                                th:each="i:${#numbers.sequence(1, totalPages)}" class="page-item">
                                <a class="page-link" th:href="@{'/user/contacts/'+${i-1}}">
                                    <span th:text="${i}"></span>
                                </a>
                            </li>
                            <li th:if="${currentPage+1 != totalPages}"  class="page-item">
                                <a class="page-link" th:href="@{'/user/contacts/'+${currentPage+1}}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>

</body>
</html>