<!DOCTYPE html>
<html lang="en" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
  <div class="container">
      <div class="card">
          <div class="card-body">
              <div class="container text-center">
                  <img class="img-fluid my_profile_pic" style="width: 260px; height:260px" th:src="@{/imgs/cm1.png}" alt="" srcset="">
              </div>
              <h1 class="text-center mt-5 text-secondary font-italic">Start Adding Your Contacts</h1>
              <div class="container text-center mt-4">
                  <a th:href="@{/user/add_contact}" class="btn btn-primary btn-block  text-upper">Add New Contact</a>
              </div>
          </div>
      </div>
  </div>


</section>

</body>
</html>